/* 
TODO margine destro alle icone nella lista
TODO e allineamento del testo
*/
/* 
TODO linea sotto i link nel nav
TODO probabilmente i li hanno altezza 100% e hover e su di loro
*/
/* 
TODO :hover sui bottoni (brightness 1.4)
TODO box-shadow nav
*/
/* 
TODO cambiare nome a .plans.offers e .plans-offer
*/
/* 
---------
!RESET
---------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 5rem;
}
img {
  display: block;
  max-width: 100%;
}
ul {
  list-style-type: none;
}
a {
  color: var(--btn-color);
}
hr {
  border: none;
  background-color: var(--border-color);
  height: 0.0625rem;
  width: 20%;
}
/* 
---------
!DEBUG
---------
*/

/*
------------
!TYPOGRAPHY
------------
*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
h1 {
  font-size: 5rem;
  font-weight: bolder;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}
/*
----------
!PALETTE
----------
*/
:root {
  --btn-color: rgb(0, 97, 255);
  --jumbo-color: rgb(180, 208, 231);
  --border-color: rgb(208, 208, 211);
}

/*
---------
!COMMON
---------
*/
/* ?container */
.container {
  margin: 0 auto;
  width: 67.5rem;
}
.big-container {
  margin: 0 auto;
  width: 1280px;
}
/* ?bottoni */
.btn {
  border: none;
  background-color: var(--btn-color);
  color: white;
  font-size: 0.875rem;
  text-align: center;
}
.btn-small {
  padding: 0.5rem 1rem;
}
.btn-big {
  padding: 0.75rem 0.75rem;
}
.btn-2 {
  border: 1px solid black;
  background-color: white;
  color: black;
}
/* ?bordo */
.border {
  border: 0.0625rem solid var(--border-color);
}
/* ?margin */
h1 {
  margin-bottom: 3.125rem;
}
h2 {
  margin-bottom: 3.75rem;
}
h3 {
  margin-bottom: 1.25rem;
}
h4 {
  margin-bottom: 1.875rem;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb100 {
  margin-bottom: 100px;
}
.mb150 {
  margin-bottom: 150px;
}
/*
---------
!HEADER
---------
*/
/* ?parte alta header */
.top-header {
  line-height: 5rem;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}
.top-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 0.625rem;
}
.top-header nav ul {
  display: flex;
  gap: 2.5rem;
}
.top-header nav ul li {
  display: flex;
  align-items: center;
}
.top-header a {
  text-decoration: none;
  color: black;
}

/* ?parte bassa header */
.bottom-header {
  background-color: var(--jumbo-color);
  padding: 4.375rem 0 0 0;
  position: relative;
}
.jumbo .bottom-jumbo {
  display: flex;
}
.bottom-jumbo .jumbo-left {
  width: 32%;
  padding-right: 1.875rem;
}
.bottom-jumbo .jumbo-left i {
  font-size: 3.125rem;
}
.bottom-jumbo .jumbo-img {
  width: 68%;
}
.bottom-jumbo .jumbo-img img {
  position: relative;
  z-index: 10;
}
.bottom-header .white-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 3.125rem;
  z-index: 1;
  background-color: white;
}

/*
-------
!MAIN
-------
*/
/* ?PRIMA SEZIONE */
.plans .plans-payment {
  display: flex;
  gap: 3.125rem;
}

/* *BOTTONI FINTI */
.plans .plans-payment .fake-button {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 3.125rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.plans .plans-payment .month .selected {
  background-color: var(--btn-color);
}
.plans .plans-payment .fake-button div {
  width: 0.625rem;
  height: 0.625rem;
  background-color: white;
  border-radius: 3.125rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plans .plans-payment span {
  vertical-align: middle;
}

/* *GRIGLIA */
.plans-offers {
  display: flex;
  margin: 0 -1.875rem 0 -1.875rem;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

/* COLONNE */
.plans-offers .plans-offer {
  width: calc(100% / 3 - 3.75rem);
  margin: 0 1.875rem;
}
/* parte alata colonna */
.plans-offers .top-column {
  width: 100%;
  text-align: center;
  padding: 0.625rem 0;
  border-bottom: 0.0625rem solid var(--border-color);
}
/* parte bassa colonna */
.plans-offers .bottom-column {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.875rem;
}
.plans-offer .bottom-column .period {
  color: var(--border-color);
}
/* icone lista */
.plans-offer .bottom-column ul {
  --icon-size: 14px;
  padding-left: 0;
}
.plans-offer .bottom-column ul li {
  padding-left: var(--icon-size);
}
.plans-offer .bottom-column ul li::before {
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-size) * -1);
  width: var(--icon-size);
}
.plans-offer .bottom-column ul .single-user::before {
  content: "\f007";
}
.plans-offer .bottom-column ul .multi-user::before {
  content: "\f0c0";
}
.plans-offer .bottom-column ul .folder::before {
  content: "\f07b";
}
.plans-offer .bottom-column ul .extra::before {
  content: "\f1e0";
}
.plans-offer .bottom-column ul .check::before {
  content: "\f00c";
  color: var(--btn-color);
  font-weight: bolder;
}

/* blocco in fondo */
.team {
  width: calc(100% - 60px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 50px;
}
.team .bottom-column {
  position: relative;
  padding-right: 300px;
}
.team .bottom-column .btn {
  position: absolute;
  top: 40px;
  right: 30px;
  padding: 12px 35px;
}

/* ?SECONDA SEZIONE */
.find-partner {
  display: flex;
}
.find-partner .find-partner-img {
  width: 60%;
}
.find-partner .find-partner-text {
  width: 40%;
  padding: 50px 40px;
}
.find-partner .find-partner-text p {
  padding-right: 85px;
}

/* ?TERZA SEZIONE */

/* ?QUARTA SEZIONE */
#db {
  padding-right: 400px;
}
.clients {
  display: flex;
}
.clients .left-clients,
.clients .center-clients,
.clients .right-clients {
  width: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
}
.clients .client {
  width: calc(100% / 2);
  height: 16vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients .client img {
  width: 50%;
  filter: brightness(0) invert(1);
}
.clients .center-clients {
  padding: 40px 60px 0 50px;
  flex-direction: column;
}
.clients .center-clients img {
  width: 60%;
}
/* colori blocchi */
.designit {
  background-color: rgb(209, 233, 205);
  padding: 10px;
}
.designit div {
  background-color: rgb(162, 211, 155);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arizona {
  background-color: rgb(97, 8, 43);
}
.florida {
  background-color: rgb(0, 147, 206);
}
.fodds {
  background-color: rgb(255, 28, 28);
}
.wbr {
  background-color: rgb(213, 0, 31);
}
.hearts-corporation {
  background-color: rgb(180, 208, 231);
}
.lonely-planet {
  background-color: rgb(13, 36, 129);
}
.clear-channel {
  background-color: rgb(255, 216, 48);
}
/*
---------
!FOOTER 
---------
*/
