/* 
---------
!RESET
---------
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-top: 80px;
}
/* 
---------
!DEBUG
---------
*/
/* ?header debug */

.debug .jumbo {
  background-color: palevioletred;
}
.debug .big-container {
  background-color: yellow;
}
.debug .top-jumbo {
  background-color: slateblue;
}
.debug .bottom-jumbo {
  background-color: brown;
}
.debug .jumbo-left {
  background-color: tomato;
}
.debug .jumbo-img {
  background-color: salmon;
}

/*
------------
!TYPOGRAPHY
------------
*/
body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  font-size: 80px;
  font-weight: bolder;
}

/*
----------
!PALETTE
----------
*/
:root {
  --btn-color: rgb(0, 97, 255);
  --jumbo-color: rgb(180, 208, 231);
}

/*
---------
!COMMON
---------
*/
.big-container {
  margin: 0 auto;
  width: 1180px;
}
.margin-bottom {
  margin-bottom: 35px;
}
.btn {
  border: none;
  background-color: var(--btn-color);
  color: white;
  font-size: 16px;
  padding: 8px 16px;
}
h1 {
  margin-bottom: 50px;
}

/*
---------
!HEADER
---------
*/
/* ?parte alta header */
.top-header {
  height: 85px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
}
.top-header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 10px;
}
.top-header nav ul {
  display: flex;
  list-style-type: none;
  gap: 40px;
}
.top-header nav ul li {
  display: flex;
  align-items: center;
}
.top-header a {
  text-decoration: none;
  color: black;
}

/* ?parte alta header */
.bottom-header {
  background-color: var(--jumbo-color);
}
.bottom-header .jumbo {
  padding: 80px 0;
}
.jumbo .bottom-jumbo {
  display: flex;
}
.bottom-jumbo .jumbo-left {
  width: 33%;
}
.bottom-jumbo .jumbo-img {
  width: 67%;
}
.bottom-jumbo .jumbo-img img {
  width: 100%;
}
/*
-------
!MAIN
-------
*/

/*
---------
!FOOTER 
---------
*/
